<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.galchenko.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MMSModels</key>
	<array>
		<dict>
			<key>MMSModelName</key>
			<string>Catwoman</string>
			<key>MMSModelNumFaces</key>
			<integer>20092</integer>
			<key>MMSModelURL</key>
			<string>https://cloud.box.com/shared/static/xz0is2u6lw8ltzw91sh0.obj</string>
		</dict>
		<dict>
			<key>MMSModelName</key>
			<string>Praying Mantis</string>
			<key>MMSModelNumFaces</key>
			<integer>30510</integer>
			<key>MMSModelURL</key>
			<string>https://cloud.box.com/shared/static/n28prxplszixh70ef1g1.obj</string>
		</dict>
		<dict>
			<key>MMSModelName</key>
			<string>Grayson</string>
			<key>MMSModelNumFaces</key>
			<integer>43709</integer>
			<key>MMSModelURL</key>
			<string>https://cloud.box.com/shared/static/h3q7mcnwtqt7pyiw6ucy.obj</string>
		</dict>
		<dict>
			<key>MMSModelName</key>
			<string>Caribbean Princess</string>
			<key>MMSModelNumFaces</key>
			<integer>16019</integer>
			<key>MMSModelURL</key>
			<string>https://cloud.box.com/shared/static/7hiwtc2i9nurzr4ifag0.obj</string>
		</dict>
		<dict>
			<key>MMSModelName</key>
			<string>Maybach</string>
			<key>MMSModelNumFaces</key>
			<integer>71508</integer>
			<key>MMSModelURL</key>
			<string>https://cloud.box.com/shared/static/bdkdt0p2j03zuo5ki494.obj</string>
		</dict>
		<dict>
			<key>MMSModelName</key>
			<string>Harley</string>
			<key>MMSModelNumFaces</key>
			<integer>13765</integer>
			<key>MMSModelURL</key>
			<string>https://cloud.box.com/shared/static/vliu4gj1rishoz8bpqjb.obj</string>
		</dict>
		<dict>
			<key>MMSModelName</key>
			<string>Jill</string>
			<key>MMSModelNumFaces</key>
			<integer>16917</integer>
			<key>MMSModelURL</key>
			<string>https://cloud.box.com/shared/static/ock9d81kakj91dz1x4ea.obj</string>
		</dict>
		<dict>
			<key>MMSModelName</key>
			<string>Extended Lines Test</string>
			<key>MMSModelNumFaces</key>
			<integer>12842</integer>
			<key>MMSModelURL</key>
			<string>https://cloud.box.com/shared/static/bv95z64b96j33i432lsx.obj</string>
		</dict>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
